/** customize bootstrap **/
select {
  min-width: 100px;
}

.btn-app {
  padding:0px !important;
}

.nav li.active a {
  border-bottom: 2px solid #0B0B3B;
}

.top-5 {
  margin-top: 5px;
}
.top-10 {
  margin-top: 10px;
}
.top-15 {
  margin-top: 15px;
}
.top-20 {
  margin-top: 20px;
}
.top-25 {
  margin-top: 25px;
}
.top-30 {
  margin-top: 30px;
}
.top-35 {
  margin-top: 35px;
}
.top-40 {
  margin-top: 40px;
}
.left-5 {
  margin-left: 5px;
}
.left-10 {
  margin-left: 10px;
}
.left-15 {
  margin-left: 15px;
}
.left-20 {
  margin-left: 20px;
}
.left-25 {
  margin-left: 25px;
}
.left-30 {
  margin-left: 30px;
}
.left-35 {
  margin-left: 35px;
}
.left-40 {
  margin-left: 40px;
}
.right-5 {
  margin-right: 5px;
}
.right-10 {
  margin-right: 10px;
}
.right-20 {
  margin-right: 20px;
}
.right-30 {
  margin-right: 30px;
}
.right-40 {
  margin-right: 40px;
}
.bottom-5 {
  margin-bottom: 5px;
}
.bottom-10 {
  margin-bottom: 10px;
}
.bottom-20 {
  margin-bottom: 20px;
}
.bottom-25 {
  margin-bottom: 25px;
}
.bottom-30 {
  margin-bottom: 30px;
}
.bottom-40 {
  margin-bottom: 40px;
}

.hr-title {
  margin-top:0px;
  margin-bottom:20px;
}

.table-hover > tbody > tr:hover {
  color: black;
  cursor: pointer;
}

/* navigation */
.displayNone {
    display: none;
}

/** LOADING CSS **/
.cover {
  position: relative;
  display: block;
}

.save-loader{
  background: rgba(255,255,255,0.7);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 2;
}

.save-spining {
  font-size: 1px;
  text-indent: -9999em;
  border-top: 2px solid rgba(155, 155, 155, 0.2);
  border-right: 2px solid rgba(155, 155, 155, 0.2);
  border-bottom: 2px solid rgba(155, 155, 155, 0.2);
  border-left: 2px solid #FF9933;
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
  top: 0px;
  margin: 0 auto;
  z-index: 3;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

.save-spining,
.save-spining :after {
  border-radius: 100%;
  width: 50px;
  height: 50px;
  margin-top: 5px;
}

.loader {
  font-size: 1px;
  position: absolute;
  text-indent: -9999em;
  border-top: 2px solid rgba(155, 155, 155, 0.2);
  border-right: 2px solid rgba(155, 155, 155, 0.2);
  border-bottom: 2px solid rgba(155, 155, 155, 0.2);
  border-left: 2px solid #FF9933;
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
  right:5px;
  top: 30px;
}

.app-loader {
  font-size: 1px;
  text-indent: -9999em;
  border-top: 2px solid rgba(155, 155, 155, 0.2);
  border-right: 2px solid rgba(155, 155, 155, 0.2);
  border-bottom: 2px solid rgba(155, 155, 155, 0.2);
  border-left: 2px solid #FF9933;
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
  right:5px;
  top: 30px;
  margin: 0 auto;
}

.app-loader,
.app-loader:after {
  border-radius: 100%;
  width: 50px;
  height: 50px;
  margin-top: 5px;
}

.loader-small {
  top: 5px;
}

.loader,
.loader:after {
  border-radius: 100%;
  width: 25px;
  height: 25px;
}

#content {
  margin-top: 15px;
}

@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/****************************** multiselect customization *******************************************/

.custom-multiselect .btn-group {
    width: 100%;
}

.custom-multiselect button {
    width: 100%;
    text-align: left;
}

.custom-multiselect .multiselect-container {
    width: 100%;
}


/************************************* FILTER COMPONENT ***********************************************/
.loader-container {
    position: relative;
}

.remover:hover {
  cursor: pointer;
  color: #d9534f;
}

.remover {
  position: absolute;
  right:10px;
  top: 10px;
  color: gray;
}

@media (max-width: 767px) {
    .errorListMessage {
        padding: 10px;
        font-size: 14px;
    }
}

@media (min-width: 767px) {
    .errorListMessage {
        margin-top: -5px;
    }
}